body {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    padding: 20px 0;
    color: #209eff;
    font-size: 122%;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

input[type = text] {
    padding: 5px 10px;
    font-size: 86%;
    border: none;
    border-radius: 3px;
    background-color: #ddf0ff;
}

input[name = btn_confirm],
input[name = btn_submit],
input[name = btn_back] {
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 0 #2887d1;
    background: #4eaaf1;
}

input[name = btn_back] {
    margin-right: 20px;
    box-shadow: 0 3px 0 #777;
    background: #999;
}

.element_wrap {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.element_wrap p {
    display: inline-block;
    margin: 0;
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    width: 150px;
}

label[for = gender_male],
label[for = gender_female],
label[for = agreement] {
    margin-right: 10px;
    width: auto;
    font-weight: normal;
}

textarea[name = contact] {
    padding: 5px 10px;
    width: 60%;
    height: 100px;
    border: none;
    border-radius: 3px;
    background: #ddf0ff;
}

/* エラーメッセージ */
.error_list {
    padding: 10px 30px;
    color: #ff2e5a;
    font-size: 86%;
    text-align: left;
    border: 1px solid #ff2e5a;
    border-radius: 5px;
}