body {
    margin: 0 auto;
}

.main_visual {
    position: relative;
    height: 100vh;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.button h1 {
    font-size: 7rem;
    font-family: cursive;
    margin: 0;
}

input[type="button"] {
    font-size: 15px;
}
