*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.list{
    width: 1000px;
    margin: 300px auto 0 auto;
    overflow: hidden;
}

.list li{
    padding: 20px;
    background-color: #0c4dd5;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}