html {
    font-size: 100%;
}

body {
    font-size: 0.9rem;
    color: #858585;
    margin: 0;
}

a {
    color: #858585;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 960px;
    text-align: center;
    margin: 0 auto 130px auto;
}

.section-title {
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 80px;
    border-bottom: solid 1px;
}

/* 
header 
*/

#header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 a {
    font-size: 35px;
}

#header ul {
    display: flex;
}

#header li {
    margin-right: 15px;
}

#header h1 {
    padding: 70px 0;
    margin: 0;
}

#header ul {
    margin: 0;
}

.snslogo {
    height: 20px;
}

/* 
main
*/

#mainvisual {
    margin-bottom: 100px;
}

.mainimg {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    margin-bottom: 100px;
}

/* 
About
*/

#About img {
    width: 80px;
    border-radius: 50%;
}

#About .content {

}

#About .content-title {
    font-size: 1.2rem;
    margin: 25px 0 30px 0;
}

/* 
works
*/

#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
}

#works li {
    margin-bottom: 35px;
}

#works img {
    width: 250px;
}