html {
    font-size: 100%;
}

body {
    font-size: 0.9rem;
    color: #858585;
    margin: 0;
}

a {
    color: #858585;
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 960px;
}

/* 
header 
*/

#header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header ul {
    display: flex;
}

#header li {
    margin-right: 15px;
}

#header h1 {
    padding: 70px 0;
    margin: 0;
}

#header ul {
    margin: 0;
}